* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #149ddd;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;    
    overflow-y: auto;
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important; 
}

div {
    display: block;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #10142b98;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
    overflow: clip;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

#header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

.text-center {
    text-align: center!important;
}
.mt-3 {
    margin-top: 1rem!important;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #10142b98;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.nav-menu {
    padding: 30px 0 0 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}
.nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu i{
    padding-right: 10px;
}

/* ======================= HERO ================ */
.bg-main {
    /* position: fixed; */
    background-size: cover;
    right: 0;
    bottom: 0;
}
#bg-main video{
    background-size: cover;
}

#hero {
    width: 100%;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .hero-section {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin:  0;
    /* font-size: 40px; */
    /* font-weight: 700; */
    /* line-height: 56px; */
    /* color: #fff; */
    /* margin-left: 200px; */
    /* margin-bottom: 200px; */
}
/* =================== HERO END ================== */

/* ==================== MAIN ============================== */
#main {
    margin-left: 300px;
}

/* about */
.about .content h3 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
/* ================ FOOTER ============= */
#footer {
    padding: px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #10142b98;
}

.containers, .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}

#footer .credits strong {
    color: rgba(3, 3, 218, 0.637);
    opacity: 0.8;
}

/* ============== FOOTER END ================ */